.nav{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #ae0f0a;
    margin: 0 auto;
}

.drop-row{
    background-color: aliceblue;
    min-width: 160px;
    position: absolute;
}
.row{
    width: 100%;
    height: 100%;
}
.row img{
    display: block;
    margin:0 auto;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 1);
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.short-row:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #3e8e41;
  }

  .short-row{
      position: absolute;
      left:10%;
      top:3%;
      width: 52px;
      height: 20px;
  }
.droop{
    width: 80px;
    height: 30px;
    border: 1px solid black;
  border-radius: 20px;
  background-color: azure;
}

.selector{
  cursor: pointer;
}