<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


<nav class="nav">
    <div class="short-row">
        <button class="droop">Sort By <i class="fas fa-chevron-up"></i></button>
        <div class="dropdown-content">
            <a class="selector" (click)="onSelect('Title')">Name</a>
            <a class="selector" (click)="onSelect('Year')">Year</a>
            <a class="selector" (click)="onSelect('Runtime')">Run-Time</a>
        </div>
    </div>
    <div class="row">
        <img src="./assets/logo.png" alt="">
    </div>
</nav>