.container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(129, 129, 129, 0.404);
    z-index: 2;
}

.edit_container{
    position: absolute;
    top:25%;
    left:50%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 45%;
    height: 45%;
    background-color: antiquewhite;
    border-radius: 20px;
}
@media screen and (max-width: 786px){ 
  .edit_container{
      top:13%;
      height: 73%;
  }
}