.container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(129, 129, 129, 0.404);
    z-index: 2;
}
.row{
    position: absolute;
    top:30%;
    left:50%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 40%;
    min-height: 20%;
    background-color: antiquewhite;
    border-radius: 20px;
}
.title{
    position: absolute;
    top:50px;
    left:50px;
    font-size: 22px;
}
.accept_btn, .cancel_btn{
    position: absolute;
    width: 80px;
    height: 35px;
    border-radius: 15px;
    border:1px solid;
    transition: 500ms;
    font-weight: 600;
    cursor: pointer;
}

.accept_btn:hover, .cancel_btn:hover, .cancel_btn_edit:hover , .save_btn:hover{
background-color: aqua;
}

.btn_row{
    width:25%;
    position: absolute;
    display: grid;
    grid-template-columns: 50% 50%;
    top: 70%;
    left:50%;
    transform: translateX(-50%);

}
.exit_btn{
position: absolute;
right:20px;
top:5px;
height: 25px;
width: 25px;
cursor: pointer;
}
.exit_btn:hover span{
    border-color: red;
}
.left_line, .right_line{
    right: 12px;
    position: absolute;
    height: 25px;
    border-left: 2px solid;   
}
.right_line{
    transform: rotateZ(40deg);
}
.left_line{
    transform: rotateZ(140deg);
}

.edit_container{
    position: absolute;
    top:25%;
    left:50%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 45%;
    height: 45%;
    background-color: antiquewhite;
    border-radius: 20px;
}

.secound_continer{
width: 93%;
margin: 33px auto;
display: inline-flex;
position: absolute;
left:50%;
transform: translateX(-50%);
}

.left_content{
    max-width: 30%;
}

.movie_poster{
    width: 100%;
    border-radius: 15px;
}

.right_content{
    text-align: center;
    line-height: 4vh;
    flex:1;
}

.edit_btn{
    position: absolute;
    text-align: center;
    top:90%;
    margin: 0 auto;
    left:23vw;
}

.save_btn{
    position: absolute;
    width: 80px;
    height: 35px;
    border-radius: 15px;
    border:1px solid;
    transition: 500ms;
    font-weight: 600;
    cursor: pointer;
}

.cancel_btn_edit{
    position: absolute;
    width: 80px;
    margin-left:5vw;
    height: 35px;
    border-radius: 15px;
    border:1px solid;
    transition: 500ms;
    font-weight: 600;
    cursor: pointer;
}

.checkbox_container{
    display: inline-flex;
  }

.checkbox{
      margin-left: 15px;
}