<div class="container">
  <div class="edit_container">
    <div class="secound_continer">
      <div (click)="onClose()" class="exit_btn">
        <span class="left_line"></span>
        <span class="right_line"></span>
      </div>
      <div class="left_content">
        <img class="movie_poster" [src]="movie.poster" alt="{{ movie.title }} ">
      </div>
      <div class="right_content">
        <form (ngSubmit)="onSubmit()" #form="ngForm">
          <p>Movie Name: <input type="text" value="{{ movie.title }}"> </p>
          <p>Movie Genre:</p>
          <div class="checkbox_container">
            <div class="checkbox" *ngFor="let genre of movieGenre">
              <label class="checkbox_btn">{{genre}}
              <input class="checkbox_input" type="checkbox" [value]="genre">
              <span class="checkmark"></span>
            </label>
            </div>
          </div>
          <p>Movie Language: {{ movie.language }}</p>
          <p>Movie Time: {{ movie.runtime }}</p>
          <p>Movie Year: {{ movie.year }}</p>
          <div class="edit_btn">
            <button class="save_btn" type="submit">Save</button>
            <button (click)="onClose()" class="cancel_btn_edit">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>