.edit{
    display: inline-flex;
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
}

.movie_poster{
    height: 100%;
    width: 100%;
    display: block;
}
.left_content{
    width: 32%;
}
.right_content{
    width: 68%;
    padding: 10px;
}

.checkbox_container{
    display: flex;
    flex-wrap: wrap;
    max-width: 82%;
    margin: 0 auto;
    font-size: 15px;
    padding: 10px;
}


.checkbox_btn {
    display: block;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .exit_btn{
    position: absolute;
    right:20px;
    top:5px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    }
    .exit_btn:hover span{
        border-color: red;
    }
    .left_line, .right_line{
        right: 12px;
        position: absolute;
        height: 25px;
        border-left: 2px solid;   
    }
    .right_line{
        transform: rotateZ(40deg);
    }
    .left_line{
        transform: rotateZ(140deg);
    }
    .checkbox{
        flex: 0 0 25%;
    }
    .form{
        padding: 10px;
        font-size: 20px;
        line-height:35px;
    }
    .input_field{
        border-radius: 5px;
        width: 76%;
        border: 1px solid black;
        padding: 5px;
        text-align: center;
        font-size: 18px;
        text-overflow: ellipsis;
    }
    .movie_options{
     min-width: 128px;
    }
    .edit-row{
        text-align: center;
        margin: 0 auto;
    }
    .edit_btn{
      margin-top: 20px;
    }
    
    .btn{
        margin: 0 auto;
        text-align: center; 
        width: 100%;
    }

    .cancel_btn_edit{
        width: 30%;
        border-radius: 20px;
        border: 1px solid;
        height: 35px;
        background-color: red;
        color: white;
        font-weight: 700;
        cursor: pointer;
        transition:500ms ease all;
    }

    .save_btn{
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    border: 1px solid white;
    height: 35px;
    background-color: green;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition:500ms ease all;
    }

    .cancel_btn_edit:hover , .save_btn:hover:valid{
        background-color: aqua;
        border: 1px solid black;
        color: black;
    }
    .save_btn:disabled{
        background-color: gray;
        cursor: not-allowed;
    }
    input.ng-invalid.ng-touched{
        border: 1px solid red;
    }

    @media screen and (max-width: 639px){
        .edit{
            display: inline-block;
        }
        .left_content{
            width: 50%;
            margin: 0 auto;
        }
        .right_content{
            width: 100%;
            margin: 0 auto;
        }
        .input_field{
            width: 100%;
            font-size: 75%;
        }
        .movie_options{
           font-size: 75%;
        }
    }