.container{
    width:60%;
    margin: 10px auto;
    display: flex;
    border-radius: 15px;
    min-height: 820px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: aquamarine; */
}