.movie-card {
    background-color: transparent;
    margin-top: 10px;
    width: 255px;
    height: 400px;
    perspective: 1000px;
  }
  
  .movie-flip {
    user-select: none;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .movie-card:hover .movie-flip {
    transform: rotateY(180deg);
  }
  
  .movie-flip-front, .movie-flip-back {
    border-radius: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .movie-flip-front {
    background-color: #bbb;
    color: black;
  }

  .movie-flip-back {
    border: 1px solid rgb(0, 0, 0);
    text-align: left;
    background-color: #CAE8FB;
    color: black;
    transform: rotateY(180deg);
  }

  .movie_poster{
      border-radius: 15px;
      width: 100%;
      height: 100%;
  }

  .title{
      text-align: center;
      font-weight: bold;
      color: #1d1d49;
      font-size: 1em;
      word-break: break-word;
  }
  .content{
      width: 100%;
      padding: 10px 8px !important;
  }

  .content_info {
      margin: 15px 0;
    font-weight: bold;
  }
  .content_info span{
    font-weight: 200;
  }
  .btn{
      width: 100%;
      top:80%;
      position: absolute;
      margin: 0 auto;
      text-align: center;
    }

  .edit_btn, .delete_btn{
    font-weight: 600;
    color: white;
    width:80px;
    height: 30px;
  }

  .edit_btn{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    font-size:1.6em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-right: 3vw;
  }
  .delete_btn{
    background-color: rgb(207, 50, 50);
    border:1px solid black;
    color:#fff;
    border:none;
    position:relative;
    font-size:1.6em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }

  .edit_btn:hover{
    background-color:#fff;
    color:#1AAB8A;
  }

  .edit_btn:before,.edit_btn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  .edit_btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .edit_btn:hover:before,.edit_btn:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  

  .delete_btn:hover{
    background-color:#fff;
    color:rgb(171, 26, 26);
  }

  .delete_btn:before,.delete_btn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(171, 26, 26);
    transition:400ms ease all;
  }
  .delete_btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .delete_btn:hover:before,.delete_btn:hover:after{
    width:100%;
    transition:800ms ease all;
  }